pkgbase = niceclaw
	pkgdesc = Desktop AI agent for OpenClaw with bundled gateway runtime
	pkgver = 0.9.504
	pkgrel = 1
	url = https://claw.nicerouter.com/
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	depends = at-spi2-core
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = libappindicator-gtk3: tray indicator support on some desktop environments
	options = !strip
	source_x86_64 = niceclaw-0.9.504-x86_64.deb::https://pan.feidu.fit/d/%E5%BC%80%E5%8F%91/tmp/NiceClaw-0.9.504-amd64-linux.deb
	sha512sums_x86_64 = 2ffe7519693d0495228f17298d8ad55e6dc14256592136b38d19412857c1b4b356a5e3184f3931298a48c6e90a71cb63fa1baec5d046126dc74478ff9f7dcce0
	source_aarch64 = niceclaw-0.9.504-aarch64.deb::https://pan.feidu.fit/d/%E5%BC%80%E5%8F%91/tmp/NiceClaw-0.9.504-arm64-linux.deb
	sha512sums_aarch64 = fd760a6f4114652a063610c5bd4718ed2b8b1cc6957989647ad8ac53230aa76b18625defae523c46ec55d3d2db6900e0a3da850ebf77cfdc25afe4ec4064a564

pkgname = niceclaw
