pkgbase = niceclaw
	pkgdesc = Desktop AI agent for OpenClaw with bundled gateway runtime
	pkgver = 0.9.512
	pkgrel = 1
	url = https://claw.nicerouter.com/
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	depends = at-spi2-core
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = libappindicator-gtk3: tray indicator support on some desktop environments
	options = !strip
	source_x86_64 = niceclaw-0.9.512-x86_64.deb::https://pan.feidu.fit/d/%E5%BC%80%E5%8F%91/tmp/NiceClaw-0.9.512-amd64-linux.deb
	sha512sums_x86_64 = 7f84e1af2606b783a5adb9868cad0c9dce58b4d09788cc524a2e9e771c32028c7ca070570b3ef4f25957be9675d5fd176be096359820751742b93c2fac8b5540
	source_aarch64 = niceclaw-0.9.512-aarch64.deb::https://pan.feidu.fit/d/%E5%BC%80%E5%8F%91/tmp/NiceClaw-0.9.512-arm64-linux.deb
	sha512sums_aarch64 = 27c56ba3e8373031577af299a27d9325f5d49c7f1db49e386aa8a66d722e42ab1dbe3000b6a32beaca7d998a2329f46af5aecd12f4f6cafd231c34c6b961d423

pkgname = niceclaw
